footer {
    background-color: black;
    background-position: left bottom;
    height: 40px;
    width: 100%;
    position: fixed;
    -webkit-text-stroke: 0.1px white;
    background-position: left bottom;
    bottom: 0%;
}