*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "header";
@import "body";
@import "footer";
@import "redes";
@import "index";
@import "video";


$headings: (
    h1: 4em,
    h2: 3em,
);

$h1: map-get($headings, h1);


